body{
    background-color: pink;
    color: teal;
    font-family: 'Times New Roman', Times, serif;
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
}

.site-header, .side-bar{
    background-color: teal;
    color:pink;
}

.site-header{
    padding: 20px;
    border: 4px solid cyan;
    text-align: center;
}

.large-header-text, .small-header-text{
    display: block;
}

.large-header-text{
    font-size: 48px;
    text-decoration: underline;
}

.small-header-text{
    color: cyan;
    font-size: 24px;
    font-style: italic;
}

.page-layout{
    display: flex;
    flex: 1;
}

.side-bar{
    border : 4px solid cyan;
    font-size: 24px;
    padding: 20px;
    width: 300px;
}

.side-bar h2{
    font-size: 52px;
    text-align: center;
    text-decoration: underline;
    margin-top: 0;
}

.side-bar nav a{
    color: cyan;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
}

.side-bar nav a:hover{
    text-decoration: underline;
}

.main-content{
    flex: 1;
    text-align: center;
}